# OS and editor files
.DS_Store
Thumbs.db
.vscode/
.idea/
*.swp

# Vercel deployment folder
.vercel/

# Logs
logs/
*.log

# Local environment files
.env
.env.*
!.env.example
.env.local
.env.production
.env.development
.env.test
